* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* utilities */

.d-flex {
    display: flex;
}

.debug *{
    border: 1px dashed black;
}

/* header */

header {
    background-color: #3161e0;

    button {
        border-radius: 20px;
        padding: 0.5rem;
        border: none;
    }

}

nav {
    align-content: center;

    a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    }

}


.h-align {
    justify-content: space-around;
    padding: 1rem;
}

/* body */

main {
    align-items: center;
}

.s-container {
    background-color: aqua;
    height: 200px;
    width: 50%;
    margin: auto;
    padding: 3rem;
}

.b-container {
    background-color: aqua;
    height: 100%;
    width: 100%;
    margin: auto;

    section {
        padding-top: 2rem;
        width: 30%;

        h2 {
            font-weight: bold;
        }

    }

}

.c-align {
    text-align: center;
}

.main-section {
    padding: 3rem;
    background-color: aquamarine;
}

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 3rem;
}

.j-container {
    color: white;
    height: 100%;
    width: 50%;
    margin: auto;
}

.j-section{
     h1 {
        padding-bottom: 2rem;
        font-size: 2rem;
     }

     p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
    max-width: 486px;
    margin: auto;    
     }

     button {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: none;
        font-weight: bold;
     }

     :last-child {
        background-color: aquamarine;
        color: white;
     }

}

.image {
    height: 100%;
    width: 90%;
    background-color: black;
}

.b-image {
    height: 80%;
    width: 100%;
    background-color: black;
}

/* footer */

.footer-section {
    background-color: aqua;
}

.b-section {
    padding-right: 1rem;
    width: 100%;
}



