* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    line-height: 1.5rem;
}

:root {
    --header-bg: #3161e0;
    --w-text: white;
}

/* utilities */

.d-flex {
    display: flex;
}

.c-align {
    justify-content: center;
}

.debug *{
    border: 1px dashed black;
}

/* header */

header {
    background-color: var(--header-bg);
    
    button {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: none;
    }

}

nav {
    align-content: center;

    a {
    color: var(--w-text);
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    }

}


.h-align {
    justify-content: space-around;
    padding: 1rem;
}

/* body */

main {
    align-items: center;
}

.main-section {
    padding: 3rem;
}

.b-container {
    background-color: aqua;
    height: 100%;
    min-width: 80%;
    margin: auto;
    padding: 1rem;
    min-width: 80%;
    

    section {
        padding-top: 2rem;
        width: 20%;
        align-items: center;
        font-size: 0.9rem;
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
            text-align: left;
        }

        p {
            text-align: left;
        }

    }

}

.img-resize {
    width: 60%;
    max-width: 50%;
}




.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 3rem;
    text-align: center;
}

.j-container {
    color: var(--w-text);
    height: 100%;
    width: 50%;
    margin: auto;
}

.j-section{
     h1 {
        padding-bottom: 2rem;
        font-size: 2rem;
     }

     p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
    max-width: 486px;
    margin: auto;    
     }

     button {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: none;
        font-weight: bold;
     }

     :last-child {
        background-color: #23272a;
        color: white;
     }

}

.image {
    height: 100%;
    width: 90%;
    background-color: black;
}

.b-image {
    height: 80%;
    width: 100%;
    background-color: black;
}

/* footer */

.footer-section {
    background-color: aqua;
}

.b-section {
    padding-right: 1rem;
    width: 100%;
}



